<%= form_for(@calculation) do |f| %>
  <% if @calculation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@calculation.errors.count, "error") %> prohibited this calculation from being saved:</h2>

      <ul>
      <% @calculation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :num1 %><br>
    <%= f.number_field :num1 %>
  </div>
  <div class="field">
    <%= f.label :num2 %><br>
    <%= f.number_field :num2 %>
  </div>
  <div class="actions">
    <%= f.button('Add', &Calculation.add(:num1,:num2)) %>
    <%= f.button('Subtract') %>
    <%= f.button('Multiply') %>
    <%= f.button('Divide') %>
  </div>
<% end %>
